{% extends 'base.html' %}

{% block content %}
{% comment %} we add this if statement bcz we use this page to edit and creata toy  {% endcomment %}

{% if object %}
  <h1>Edit <span class="teal-text">{{ object.name }}</span></h1>
{% else %}
  <h1 class="dpp">Take Appointments</h1>
{% endif %}

<form action="" method="post" enctype="multipart/form-data">
  <!-- Django requires the following for security purposes -->
  {% csrf_token %}
  <table>{{ form.as_table }}</table>
  <input type="submit" value="Submit!" class="btn">
</form>
{% endblock %}