{% extends 'base.html' %}
{% block content %}

<h1> My Appointments List </h1>
<br>
<br >
{% if user.is_authenticated %}
{% for appointment in appointment_list %}
{% if request.user.user_role == 'patient' and appointment.patient_id == request.user.id %}
{% comment %} {% if appointment.patient_id == request.user.id%} {% endcomment %}
<div class="card">
    <div class="card-header">
       <b> Department :  {{appointment.department}} </b>
    </div>

    <div class="card-body">
        <p class="card-text"><b>Doctor :  </b> {{appointment.doctor}}  </p>
        <p class="card-text"><b>Date : </b>  {{appointment.day}}   </p>
        <p class="card-text"><b>Time :  </b> {{appointment.time}}   </p>
        
        <div class="card-action">
            <a href="{% url 'appointments_update' appointment.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'appointments_delete' appointment.id %}" class="btn btn-primary">Delete</a>
          </div>

      </div>
    </div>
    {%endif%}
{% endfor %}

{% elif request.user.user_role == 'patient' and user.is_authenticated %}
<h1> Don't have any Appointments </h1>


{% comment %} if Doctor {% endcomment %}
{% elif request.user.user_role == 'doctor' and user.is_authenticated %}
{% for appointment in appointment_list %}
{% if appointment.doctor_id == request.user.id %}
{% comment %} {% if appointment.patient_id == request.user.id%} {% endcomment %}
<div class="card">
    <div class="card-header">
       <b> Patient Name :  {{appointment.user_id}} </b>
    </div>

    <div class="card-body">
        <p class="card-text"><b>Date : </b>  {{appointment.day}}   </p>
        <p class="card-text"><b>Time :  </b> {{appointment.time}}   </p>
        
      </div>
    </div>
    {%endif%}
{% endfor %}
{% endif %}
{% endblock  %}