{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
  .center {
      text-align: center;
      margin: auto;
    
  }

  /* Add this to your existing CSS styles */

.btn-style {
  background-color: @teal; /* Set the button background color */
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: @white;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease-in-out; /* Add a smooth transition effect */
}

.btn-style:hover {
  background-color: lighten(@teal, 2.5); /* Change the background color on hover */
  transform: translateY(-2px); /* Add a slight vertical hover effect */
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075); /* Add a box shadow on hover */
}

.btn-style:active {
  background-color: darken(@teal, 2.5); /* Change the background color when active/clicked */
  transform: translateY(1px); /* Add a click effect */
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
}

  
  body {
    background: @lightBG;
    color: @darkGrey;
    font-family: 'Source Sans Pro', sans-serif;
    text-rendering: optimizeLegibility;
  }
  
  a.btn {
    background: @teal;
    border-radius: 4px;
    box-shadow: 0 2px 0px 0 rgba(0,0,0,0.25);
    color: @white;
    display: inline-block;
    padding: 6px 30px 8px;
    position: relative;
    text-decoration: none;
    transition: all 0.1s 0s ease-out;
  }
  
  .no-touch a.btn:hover {
    background: lighten(@teal,2.5);
    box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
    transform: translateY(-2px);
    transition: all 0.25s 0s ease-out;
  }
  
.no-touch a.btn:active,
  a.btn:active {
    background: darken(@teal,2.5);
    box-shadow: 0 1px 0px 0 rgba(255,255,255,0.25);
    transform: translate3d(0,1px,0);
    transition: all 0.025s 0s ease-out;
  } 
  
  div.cards {
    margin: 80px auto;
    max-width: 960px;
    text-align: center;
  }
  
  div.card {
    background: @white;
    display: inline-block;
    margin: 8px;
    max-width: 300px;
    perspective: 1000;
    position: relative;
    text-align: left;
    transition: all 0.3s 0s ease-in;
    width: 300px;
    z-index: 1;
  
    img {
      max-width: 300px;
    }
    
    .card__image-holder {
      background: rgba(0,0,0,0.1);
      height: 0;
      padding-bottom: 75%;
    }
  
    div.card-title {
      background: @white;
      padding: 6px 15px 10px;
      position: relative;
      z-index: 0;
      
      a.toggle-info {
        border-radius: 32px;
        height: 32px;
        padding: 0;
        position: absolute;
        right: 15px;
        top: 10px;
        width: 32px;
        
        span {
          background: @white;
          display: block;
          height: 2px;
          position: absolute;
          top: 16px;
          transition: all 0.15s 0s ease-out;
          width: 12px;
        }
        
        span.left {
          right: 14px;
          transform: rotate(45deg);
        }
        span.right {
          left: 14px;
          transform: rotate(-45deg);
        }
      }
      
      h2 {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: -0.05em;
        margin: 0;
        padding: 0;
        
        /* small; {
          display: block;
          font-size: 18px;
          font-weight: 600;
          letter-spacing: -0.025em;
        } */
      }
    }
  
    div.card-description {
      padding: 0 15px 10px;
      position: relative;
      font-size: 14px;
    }
  
    div.card-actions {
      box-shadow: 0 2px 0px 0 rgba(0,0,0,0.075);
      padding: 10px 15px 20px;
      text-align: center;
    }
    
    div.card-flap {
      background: darken(@white,15);
      position: absolute;
      width: 100%;
      transform-origin: top;
      transform: rotateX(-90deg);
    }
    div.flap1 {
      transition: all 0.3s 0.3s ease-out;
      z-index: -1;
    }
    div.flap2 {
      transition: all 0.3s 0s ease-out;
      z-index: -2;
    }
    
  }

  
  div.card.show {
    opacity: 1 !important;
    transform: scale(1) !important;
  
    /* div.card-title {
      a.toggle-info {
        background: @salmon !important;
        span {
          top: 15px;
        } */
        span.left {
          right: 10px;
        }
        span.right {
          left: 10px;
        }
      }
    div.card-flap {
      background: @white;
      transform: rotateX(0deg);
    }
    div.flap1 {
      transition: all 0.3s 0s ease-out;
    }
    div.flap2 {
      transition: all 0.3s 0.2s ease-out;
    }
    /* Add this to your existing CSS styles */

.heading-style {
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  color: #333; /* Change the color to your preference */
  transition: color 0.3s, text-shadow 0.3s;
}

.heading-style:hover {
  color: #007bff; /* Change the hover color to your preference */
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6); /* Adjust the shadow for hover effect */
}



.card-title-style {
  text-align: center; /* Center align the text */
  font-weight: bold; /* Make the text bold */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Add a subtle text shadow */
  color: #333; /* Change the color to your preference */
  transition: color 0.3s, text-shadow 0.3s;
}

.card-title-style:hover {
  color: #007bff; /* Change the hover color to your preference */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Adjust the shadow for hover effect */
}
    </style>
    <!-- Test -->
    <body class="bg-light">
      <main>
        <!-- Ui cards -->
        <section id="cards">
          <div class="container py-2">
            <div class="row pb-4">
              <div class="col-12 text-center">
                <div class="display-3 heading-style">Our Departments</div> </br> </br>
              </div>
              
            </br> </br>
            
              
              {% for department in department_list %}
                <div class="col-md-4 col-sm-6">
                  <div class="card">
                    <div class="card__image-holder">
                      <img src="{% static department.image|cut:'main_app/static' %}" alt="department_image" width="300" height="200"  />
                    </div>
                    <div class="card-title">
                      <span class="left"></span>
                      <span class="right"></span>
                      <h2 class="card-title card-title-style" style="margin:30px;">
                        {{department.name}}
                      </h2>
                    </div>
                    <div class="card-flap flap1">
                      <div class="card-description" style="margin:30px;">
                         {{department.brief}}
                      </div>
                    </div>
                    <div class="card-flap flap2">
                      <div class="card-actions text-center">
                        {% if user.user_role == 'doctor' or user.user_role == 'patient' %}
                          <a href="{% url 'department_doctor' department.id %}" class="btn" style="position:ceneter; margin:30px;">View Doctors</a>
                        {% elif user.user_role == 'admin' %}
                          <a href="{% url 'departments_detail' department.id%}" class="btn" style="position:ceneter; margin:30px;">Details</a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
              
            </div>
          </div>
        </section>
      </main>
    </body>
{% comment %} the end of cards {% endcomment %}
    </div>
{% endblock  %}