{% extends 'base.html' %}

{% block content %}
  {% load static %}
  <body class="bg-light">
    <main>
        <!-- Ui cards -->
        <section id="cards">
            <div class="container py-2">
                <div class="row pb-4">
                    <div class="col-12 text-center">

                        <div class="display-3">All Doctors</div>  
  {% for doctor in doctors %}
  <a href="{% url 'doctors_detail' doctor.id %}">
<!-- cards -->
<div class="row">
  <div class="col-lg-4 col-md-6 mb-4 pt-5">
      <div class="card shadow-sm border-0">
          <div class="card-body">

              <div class="user-picture">
                  <img src="{% static doctor.image|cut:'main_app/static' %}" class="shadow-sm rounded-circle" height="130" width="130" style="position: fixed; " />
              </div>

              <div class="user-content">
                  <h5 class="text-capitalize user-name"> {{ doctor.first_name }} {{ doctor.last_name }}</h5>
                  <h6 class="text-capitalize user-name">department: {{doctor.department}}</h6>
                  <p class="small text-muted mb-0">{{doctor.description}}</p>
              </div>

          </div>
      </div>
  </div>
</div>
</a>

</div>
</div>
</div>
<!-- /cards -->
</section>
<!-- /Ui cards -->
</main>
</body>
{% empty %}
<p>No doctors found.</p>
{% endfor %}
{% endblock %}



