{% extends 'base.html' %}

{% block content %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>{{ user.username }} Profile</h3>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            {% load static %} 
                            <img src={% static users.image|cut:'main_app/static/' %} alt="Profile Image" class="img-thumbnail rounded-circle"/>

                        </div>
                        <div class="mt-3">
                            <h5>Personal Information</h5>
                            <hr>
                            <p><strong>Name:</strong> {{ user.get_full_name }}</p>
                            <p><strong>Email:</strong> {{ user.email }}</p>
                            <p><strong>Mobile Number:</strong> {{ user.mobile_Number }}</p>
                            {% if user.user_role == 'patient' %}
                                <p><strong>Blood Type:</strong> {{ user.blood }}</p>
                                <p><strong>CPR Number:</strong> {{ user.cpr }}</p>
                                <p><strong>Height:</strong> {{ user.height }}</p>
                                <p><strong>Weight:</strong> {{ user.weight }}</p>
                                <p><strong>Date of Birth:</strong> {{ user.dof }}</p>
                                <p><strong>Sensitivity:</strong> {{ user.sensitivity }}</p>
                            {% elif user.user_role == 'doctor' %}
                                <p><strong>Description:</strong> {{ user.description }}</p>
                            {% endif %}
                        </div>
                        <div style="display: flex;justify-content: center;align-items: center;">
                             <a href="{%url 'profile_update' user.id%}"> <button class="btn  btn-lg btn-info">Edit profile</button></a> 
                        </div>
                      
                    </div>
                </div>
            </div>
            
        </div>
    </div>

{% endblock %}
