{% extends 'base.html' %} 
{% block content %}
{% load widget_tweaks %}


<div class="contact-form py-5">
  <div class="container">
    {%if error_message%}
    <p class="">{{error_message}}</p>
    {% endif %}

      <div class="col-xl-6">
        <div class="form-section mt-5">
          <div class="card text-center border-0">
            <div class="card-body">
              <h3 class="card-title my-3">Please provide us with all your details</h3>


              

              <!-- form email input -->
              <!-- <div class="form-group">

                
                 -->

                <div class="container">
                  <div class="row">
                    <div class="col">
                      <form method="post" action="{% url 'signup' %}"></form>
                      {% csrf_token %}{{ form.as_table }}
                    </div>
                  </div>
                  <!-- <label for="username">User Name</label>
                  <input name ="username"type="text"  class="form-control"  placeholder="user name" required>
                  <br><br>

                  <label for="firstname">First Name</label>
                  <input name ="first_name"type="text"  class="form-control"  placeholder="first name" required>
                  <br><br>
                  <label for="lastname">Last Name</label>
                  <input name ="last_name"type="text" class="form-control"  placeholder="last name" required>
                  <br><br>

                  <label for="email">Email</label>
                  <input name ="email" type="email" class="form-control" name="email" required>
                  <br><br>

                  <label for="password">Password</label>
                  <input name ="password"type="password" class="form-control" name="password" required>
                  <br><br> -->
                
                  <input class="btn  btn-lg btn-info" type="submit" value="signup"> 
                  
                </form>
              </div>
            </div>
           

          </div>
        
        </div>

      </div>
        
      
   
  </div>
</div>


{% endblock %}
