{% extends 'base.html' %} 
{% block content %}
{% load widget_tweaks %}


<div class="contact-form py-5">
  <div class="container">
    {%if error_message%}
    <p class="">{{error_message}}</p>
    {% endif %}

      <div class="col-xl-6">
        <div class="form-section mt-5">
          <div class="card text-center border-0">
            <div class="card-body">
              <h3 class="card-title my-3">Please provide us with all your details</h3>

     
     
 

              

<div class="container" >
  <div class="card center spacer ">
    <h1 class="title text-center"> Register </h1>
    <br><br>

    <form method="POST" action="." class="login-form spacer" id="signup-form">
      <div class="row">
        <div class="col">
          {% csrf_token %}
          {{form.first_name}}
        </div>

        <div class="col">
          {{form.last_name}}
        </div>
      </div>
      <br><br>
        <div class="col-12">
          <label name="username" for="inputusername" class="form-label">User Name</label>
        {{form.username}}
        </div>
         
        <div class="col-12">
          <label name="email" for="inputEmail" class="form-label">Email</label>
          {{form.email}}
        </div>

        <div class="col-12">
          <label name="password" for="inputPassword" class="form-label">Password</label>
          {{form.password}}
        </div>
        <br><br>
        <input class="btn  btn-lg btn-info" type="submit" value="signup"> 
      </div>
    
    </form>

  </div>
</div>

{% endblock %}
