{% extends 'base.html' %}
{% block content %}

  <h1>All Doctors</h1>
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Specialization</th>
      </tr>
    </thead>
    <tbody>
      {% for doctor in doctors %}
        <tr>
          <td>{{ doctor.user.first_name }}</td>
          <td>{{ doctor.user.last_name }}</td>
          <td>{{ doctor.user.email }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>





{% endblock %}