{% extends 'base.html' %}
{% block content %}
   <!-- slider section -->
   <div class="slider-section">
    <div class="container">
      <div class="row">
        <div class="col-xl">
          <div class="slider-caption w-50 mx-auto text-white text-center">
            <h4>It is created to watch to health</h4>
            <h2>Healteh traker app</h2>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="number-conuter py-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 text-center">
          <h2 class="fw-bold fs-1">Take</h2>
          <p class="text-muted">Health programar</p>
        </div>
        <div class="col-xl-3 text-center">
          <h2 class="fw-bold fs-1">Care</h2>
          <p class="text-muted">Health programar</p>
        </div>
        <div class="col-xl-3 text-center">
          <h2 class="fw-bold fs-1">Give</h2>
          <p class="text-muted">Health programar</p>
        </div>
        <div class="col-xl-3 text-center">
          <h2 class="fw-bold fs-1">Health</h2>
          <p class="text-muted">Health programar</p>
        </div>
      </div>
    </div>
  </div>

  <div class="activeity-section py-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-8">
          <div class="activeity-content">
            <h1>Activity goals to health your body</h1>
            <p class="lead ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sit delectus consequatur, harum dicta vero fuga recusandae quo neque ad nulla at eaque. Tempore itaque quibusdam tempora deserunt nisi expedita!fuga recusandae quo neque ad nulla at eaque. Tempore itaque quibusdam tempora deserunt nisi expedita!

            </p>
          </div>
        

        </div>
        <div class="col-xl-4">
          <!-- <img src="https://i.ibb.co/xDFys2p/2.png" class=" mw-100 rounded" alt=""> -->

        </div>
      </div>
    </div>
  </div>
  <div class="fiture-section py-5">
      <div class="container">

        <div class="row">

          <div class="col-xl-4 mb-3">

            <div class="fiture-items d-flex align-items-center">
              <div class="fitute-image h-100">
                <!-- <img src="https://i.ibb.co/WFk1jFb/022.jpg" alt=""> -->

              </div>
              <div class="fiture-content p-4">
                <h4>HEART POINTS</h4>
                            <p>Activities that get your heart pumping harder have tremendous health benefits for your heart and mind.</p>
              </div>
            </div>

          </div>
          <div class="col-xl-4 mb-3">

            <div class="fiture-items d-flex align-items-center">
              <div class="fitute-image h-100">
                <!-- <img src="https://i.ibb.co/QKBPwqH/mbr-7.png" alt=""> -->

              </div>
              <div class="fiture-content p-4">
                <h4>HEART POINTS</h4>
                            <p>Activities that get your heart pumping harder have tremendous health benefits for your heart and mind.</p>
              </div>
            </div>

          </div>
          <div class="col-xl-4 mb-3">

            <div class="fiture-items d-flex align-items-center">
              <div class="fitute-image h-100">
                <!-- <img src="https://i.ibb.co/WFk1jFb/022.jpg" alt=""> -->

              </div>
              <div class="fiture-content p-4">
                <h4>HEART POINTS</h4>
                            <p>Activities that get your heart pumping harder have tremendous health benefits for your heart and mind.</p>
              </div>
            </div>

          </div>
          <div class="col-xl-4 mb-3">

            <div class="fiture-items d-flex align-items-center">
              <div class="fitute-image h-100">
                <!-- <img src="https://i.ibb.co/cy4XNpX/mbr-5.jpg" alt=""> -->

              </div>
              <div class="fiture-content p-4">
                <h4>HEART POINTS</h4>
                            <p>Activities that get your heart pumping harder have tremendous health benefits for your heart and mind.</p>
              </div>
            </div>

          </div>
          <div class="col-xl-4 mb-3">

            <div class="fiture-items d-flex align-items-center">
              <div class="fitute-image h-100">
                <!-- <img src="https://i.ibb.co/zFstDkc/mbr-12.png" alt=""> -->

              </div>
              <div class="fiture-content p-4">
                <h4>HEART POINTS</h4>
                            <p>Activities that get your heart pumping harder have tremendous health benefits for your heart and mind.</p>
              </div>
            </div>

          </div>
          <div class="col-xl-4 mb-3">

            <div class="fiture-items d-flex align-items-center">
              <div class="fitute-image h-100">
                <!-- <img src="https://i.ibb.co/37jVH8t/mbr-13.jpg" alt=""> -->

              </div>
              <div class="fiture-content p-4">
                <h4>HEART POINTS</h4>
                            <p>Activities that get your heart pumping harder have tremendous health benefits for your heart and mind.</p>
              </div>
            </div>

          </div>
          
          
        </div>
      </div>
    </div>

    <div class="protofolio py-4">
      <div class="container">
        <div class="row">
          <div class="col-xl-12 py-5 text-center">
            <h1>look at our Application </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4 mb-4">
           <div class="protofolio-item">
           <a href="#"> <img src="https://i.ibb.co/WFk1jFb/022.jpg" alt=""></a>
           </div>
          </div>
          <div class="col-xl-4 mb-4">
            <div class="protofolio-item">
            <a href="#"> <img src="https://i.ibb.co/WFk1jFb/022.jpg" alt=""></a>
            </div>
           </div>
           <div class="col-xl-4 mb-4">
            <div class="protofolio-item">
            <a href="#"> <img src="https://i.ibb.co/WFk1jFb/022.jpg" alt=""></a>
            </div>
           </div>
           <div class="col-xl-4 mb-4">
            <div class="protofolio-item">
            <a href="#"> <img src="https://i.ibb.co/WFk1jFb/022.jpg" alt=""></a>
            </div>
           </div>
           <div class="col-xl-4 mb-4">
            <div class="protofolio-item">
            <a href="#"> <img src="https://i.ibb.co/WFk1jFb/022.jpg" alt=""></a>
            </div>
           </div>
           <div class="col-xl-4 mb-4">
            <div class="protofolio-item">
            <a href="#"> <img src="https://i.ibb.co/WFk1jFb/022.jpg" alt=""></a>
            </div>
           </div>

           
          
        </div>
      </div>
    </div>
    <div class="priceing-section py-5">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="priceing-content text-center">
              <h1>Start using our app today</h1>
            <p class="lead mb-5">Being active is important to our health, but how much or what kind of activity do you need?</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6">
            <div class="priceing-items">
              <h2>Starter Plan</h2>
            <p>For simple users</p>

            <ul>
              <li><span> <i class="fas fa-check"></i> </span>  HEART POINTS</li>
              <li><span> <i class="fas fa-check"></i> </span>  HEART POINTS</li>
              <li><span> <i class="fas fa-check"></i> </span>  HEART POINTS</li>
              <li> <span> <i class="fas fa-times"></i> </span> HEART POINTS</li>
              <li> <span> <i class="fas fa-times"></i> </span> HEART POINTS</li>
            </ul>
            <div class="priceing-items-button text-center mt-5 ">
              <a href="#" class="btn btn-outline-primary btn-lg"> Get access now</a>
            </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="priceing-items">
              <h2>Starter Plan</h2>
            <p>For simple users</p>

            <ul>
              <li><span> <i class="fas fa-check"></i> </span>  HEART POINTS</li>
              <li><span> <i class="fas fa-check"></i> </span>  HEART POINTS</li>
              <li><span> <i class="fas fa-check"></i> </span>  HEART POINTS</li>
              <li> <span> <i class="fas fa-times"></i> </span> HEART POINTS</li>
              <li> <span> <i class="fas fa-times"></i> </span> HEART POINTS</li>
            </ul>
            <div class="priceing-items-button text-center mt-5">
              <a href="#" class=" btn btn-outline-primary btn-lg"> Get access now</a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="what-do py-5">
    
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
         <div class="what-do-content text-center">
          <h5>Feedback from our users</h5>
          <h1 class="py-3">What do users say about our application</h1>
          <span class=""> <i class="fa fa-quote-left" aria-hidden="true"></i></span>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores perspiciatis asperiores ab facere sint obcaecati et necessitatibus eos aperiam molestiae!</p>

          <div class="image-section clearfix ">
            <!-- <img src="https://i.ibb.co/SmWGw9R/face1.jpg" class=" float-start rounded-circle" alt=""> -->
            <div class="image-details float-end">
          

            </div>
          </div>
         </div>
          </div>
        </div>
      </div>
    </div>
    <div class="about-section ">
      <div class="container">
        <div class="row">
          <div class="col-xl-6">
            <div class="history">
              <h1>Our Team and History</h1>
            <p class="text-muted lead mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis perspiciatis vero accusantium excepturi aperiam eius sit quis nobis cupiditate voluptatem tempora a odio, ad, officiis ex harum saepe fuga at modi quibusdam voluptas voluptatum!?</p>
            </div>
          </div>
          <div class="col-xl-6">
          <div class="dolor">
            <p class="text-muted lead ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis perspiciatis vero accusantium excepturi aperiam eius sit quis nobis cupiditate voluptatem tempora a odio, ad, officiis ex harum saepe fuga at modi quibusdam voluptas voluptatum!</p>
          </div>
            
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3">
              <div class="programmer ">
                <div class="card shadow">
                  <img src="https://i.ibb.co/SmWGw9R/face1.jpg" class="rounded-circle" alt="">
                  <div class="card-body">
                    
                     <div class="card-body">
                      <h4 class="card-title">Jason Doe</h4>
                   
              
                      <h6 class="card-subtitle mb-3">Programmer</h6>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      
                      <a href="#" class="btn btn-light shadow mb-3">Website</a>
                     </div>
                   
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="programmer ">
                <div class="card shadow">
                  <img src="https://i.ibb.co/SmWGw9R/face1.jpg" class="rounded-circle" alt="">
                  <div class="card-body">
                    
                     <div class="card-body">
                      <h4 class="card-title">Jason Doe</h4>
                   
              
                      <h6 class="card-subtitle mb-3">Programmer</h6>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      
                      <a href="#" class="btn btn-light shadow mb-3">Website</a>
                     </div>
                   
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="programmer ">
                <div class="card shadow">
                  <img src="https://i.ibb.co/SmWGw9R/face1.jpg" class="rounded-circle" alt="">
                  <div class="card-body">
                    
                     <div class="card-body">
                      <h4 class="card-title">Jason Doe</h4>
                   
              
                      <h6 class="card-subtitle mb-3">Programmer</h6>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      
                      <a href="#" class="btn btn-light shadow mb-3">Website</a>
                     </div>
                   
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="programmer ">
                <div class="card shadow">
                  <img src="https://i.ibb.co/SmWGw9R/face1.jpg" class="rounded-circle" alt="">
                  <div class="card-body">
                    
                     <div class="card-body">
                      <h4 class="card-title">Jason Doe</h4>
                   
              
                      <h6 class="card-subtitle mb-3">Programmer</h6>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      
                      <a href="#" class="btn btn-light shadow mb-3">Website</a>
                     </div>
                   
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="contact-form py-5">
        <div class="container">
  
          <div class="row">
            <div class="col">
              <div class="contact-form-header text-center">
              <p class="lead">We need to know your opinion</p>
              <h1 >Write to us and we will contact you</h1>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-3">
  
            </div>
            <div class="col-xl-6">
              <div class="form-section mt-5">
                <div class="card text-center border-0">
  
                  <div class="card-body">
                    <h3 class="card-title my-3">Send us a Message</h3>
                    <form action="#">
                      <input type="email" class="form-control form-control-lg mb-3" placeholder="Emails Address">
                    </form>
                    <div class="row mb-4">
                      <div class="col-xl-6">
                        <input type="text" class="form-control form-control-lg plaintext" placeholder="name">
                      </div>
                      <div class="col-xl-6">
                        <input type="text" class="form-control form-control-lg plaintext" placeholder="Phone number">
                      </div>
                    </div>
                    <textarea name="" class="form-control mb-4" placeholder="Massege"></textarea>
                    <button class="btn  btn-lg btn-info"> contact us</button>
  
                    
                  </div>
                 
  
                </div>
              
              </div>
  
            </div>
            <div class="col-xl-3">
              
            </div>
          </div>
        </div>
      </div>

{% endblock %}